* {
    box-sizing:border-box;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.secretbox {
    height: 100px;
    width: auto;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.inbox {
    height: 275px;
    width: auto;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.gift {
    height: 220px;
    width: auto;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
