* {
    box-sizing:border-box;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.f1container {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 50px;
    background-color:rgb(178, 223, 224);
    width: auto;
    gap: 20px;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.secretbox {
    height: 100px;
    width: auto;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.inbox {
    height: 275px;
    width: auto;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.gift {
    height: 220px;
    width: auto;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
header {
    text-align: center;
    font-family: 'Monaco', 'Courier New', monospace;
    background-color:lavender;
    padding: 15px;
    margin-top: 10px;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
h1 {
    color:rgb(37, 21, 41);
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
div {
    font-family: 'Verdana', 'Arial', sans-serif;
    width: 500px;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#left, #right{
    margin: 20px;
    padding: 20px;
    border: 3px rgb(107, 78, 54) dotted;
    background-color:rgb(228, 228, 228);
    background-clip: padding-box;
    display: inline-block;
    
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */